/******************************************************************************/
/*  SILEX User Interface Translation Tool - Design file                       */
/******************************************************************************/

* {
    background-color:#323232;

    font-size:14px;
    font-family:"arial";
    color:#ffffff;
}

a {
    color:#989898;
    text-decoration:none;
    font-weight:bold;
}
